.header-class{
              display: flex;
              background-color: #1f2937;
              color: white;
              font-size: 24px;
              justify-content: space-around;
              

}

.hero-class {
             display: flex;
             background-color: #1f2937;
}

.hero-top {
           display: flex;
           background-color: #1f2937;
           flex-direction: column;
}

p {
    color: #f9faf8;
}






button {
        background-color: #3882f6;
        color: white;
        padding: 5px;
        width: 110px;
        border-radius: 8px;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    background-color: #1f2937;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
    align-items: center;
}

li {
    display: flex;
    flex-direction: column;
}

img {
    max-width: 300px;
    background-color: #1f2937;
    
}

body {
      margin: 0px;
}